/* ----------------banner1-------------------- */
.banner3-1{
    display: flex;
    height: 550px;
    background-color: #43AAC1;
}

.banner3-1-left{
    width: 50%;
    background-image: url(../img/banners/banner3-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner3-2-right{
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-self: center;
}

.banner3-2-right h1{
    font-size: 5vw;
    font-weight: bold;
    color: #FFFDFD;
    line-height: 1.6;
}

.banner3-2-right span{
    font-size: 5vw;
    font-weight: bold;
    color: #E8A7BF;
}

/* ----------------section-------------------- */
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1270px;
    background-image: url(../img/background/Lifeisshort_hor.png);
    background-repeat: no-repeat;
    background-position: right 30px bottom 90px;
}

.donut{
    width: 1130px;
    height: 920px;
    position: absolute;
}

.donut h1{
    color: #43AAC1;
    font-size: 64px;
    margin-bottom: 70px;
}

.donut p{
    width: 600px;
    line-height: 40px;
    text-align: justify;
}

.p1{
    margin-bottom: 50px;
}

.pic1{
    position: absolute;
    right: 60px;
    bottom: 200px;
}

.pic2{
    position: absolute;
    right: 350px;
    bottom: 50px;
}

.pic3{
    position: absolute;
    right: 750px;
    bottom: 150px;
}