*{
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans TC','Montserrat', sans-serif;
    font-size: 16px;
    color: #502D0A;
    background-color: #FFFDFD;
    letter-spacing: 3px;
}

a{
    text-decoration: none;
    color: #502D0A;
    
}

a:hover{
    color: #43AAC1;
}
/* -------------------header--------------------- */

header{
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pink{
    background-color: #E8A7BF;
}

.bar {
    display: none;
}

.bar i{
    
    color: #FFFDFD;
    font-size: 22px;
}

.js-bg{
    display: none;
}

.left{
    display: flex;
    margin-left: 30px;
    text-align: center;
}

.left > li:first-child{
    position: relative;
}

.left a{
    display: block;
    text-decoration: none;
    line-height: 100px;
    
    padding: 0 10px;
    
}

.left > li >a:hover{
    color: #43AAC1;
}

.left > li:first-child >a:hover{
    border-bottom: 0;
}

.left > li:hover > ol{
    display: flex;
}

.logo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.right{
    display: flex; 
    margin-right: 38px;
    align-items: center;
}

.select{
    display: none;
    /* display: flex; */
    flex-direction: column;
    background-color: #FFFDFD;
    position: absolute;
    top: 80px;
    left: 0;
    width: 150px;
    
}

.select li{}

.select li a{
    line-height: 50px;
    display: block;
    padding: 0;
    
}

.select li a:hover{
    
    background-color: #ccc
}

.right li{}
   

.right li a{
    padding: 0 20px;
}


.right i{
    display: block;
    font-size: 25px;
}


.white > li > a{
    color: #FFFDFD;
}

.white > li > a:hover{
    color: #E8A7BF;
}

.green-bg{
    background-color: #43AAC1;
}

.pink-bg{
    background-color: #E8A7BF;
}


/* --------------------428-------------------------- */

@media screen and (max-width: 428px) {
    header{
        padding: 0 20px;
        height: 52px;
    }

    .right li:first-child{
        /* display: none; */
        transition: all .5s;
        position: fixed;
        left: -250px;
        top: 52px;
        padding: 20px 30px;
        background-color: #43AAC1;
        opacity: 0;
        z-index: 999;
    }

    .pink-bg .right li:first-child{
        background-color: #E8A7BF;
    }

    .pink .right li:first-child{
        background-color: #E8A7BF;
    }

    .right > li:first-child > a{
        background-color: #FFFDFD;
        color: #43AAC1;
        width: 190px;
        height: 40px;
        display: block;
        line-height: 40px;
        text-align: center;
        border-radius: 5px;
    }

    .pink-bg .right > li:first-child > a{
        color: #502D0A;
    }

    .pink .right > li:first-child > a{
        color: #502D0A;
    }

    .bar {
        display: inline-block;
    }

    .bar-pink i{
        color: #502D0A;
    }

    .bar-pink i{
        color: #502D0A;
    }

    .pink .bar i{
        color: #502D0A;
    }

    .right{
        margin-right: 0;

    }

    .right i{
        font-size: 22px;
    }

    nav{
        /* display: none; */
        transition: all .5s;
        border-top: 1px solid #fffdfd67;
        position: fixed;
        left: -250px;
        top: 132px;
        z-index: 6;
        background-color: #43AAC1;
        opacity: 0;
    }

    .pink-bg nav{
        background-color: #E8A7BF;
        border-top:  1px solid #502d0a67;
        color: #502D0A;
    }

    .pink nav, .pink .right{ 
        background-color: #E8A7BF;
        border-top:  1px solid #502d0a67;
    }

    .select{
        width: 250px;
        top: 64px;
    }

    .select li a{
        line-height: 4;
    }

    .left{
        padding: 20px 0;
        flex-direction: column;
        margin: 0 auto;
    }

    .left > li > a{
        line-height: 3.5;
        width: 250px;
        color: #FFFDFD;
    }

    .pink-bg .left > li > a, .pink .left > li > a{
        color: #502D0A;
    }

    .menu-bg{
        z-index: -1;
        position: fixed;
        left: 0;
        top: 52px;
        width: 100%;
        height: 100%;
        background-color: rgba(32, 32, 32, 0.817);
        transition: all .5s;
        opacity: 0;
    }

    .right li:first-child.js-open, nav.js-open, .footer-right ol > .social.js-open, .menu-bg.js-open{
        opacity: 1;
        left: 0px;
    }
}