* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    color: #502D0A;
    background-color: #FFFDFD;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: #502D0A;

}

@media screen and (min-width: 1200px) {

    a:hover {
        color: #43AAC1;
    }
}

/* -------------------header--------------------- */

header {
    z-index: 4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* transition: all .5s; */
}

header.-slideup{
    height: 0px;
}

header.-block{
    display: none;
}

.pink {
    background-color: rgba(232, 167, 191, 1);
    opacity: 1;
}

.bar {
    display: none;
}

.bar i {
    color: #FFFDFD;
    font-size: 22px;
}

.js-bg {
    display: none;
}

.left {
    display: flex;
    margin-left: 30px;
    text-align: center;
}

.left>li:first-child {
    position: relative;
}

.left a {
    display: block;
    text-decoration: none;
    line-height: 100px;

    padding: 0 10px;

}

@media screen and (min-width: 1200px) {
    .left>li>a:hover {
        color: #43AAC1;
    }

    .left>li:first-child>a:hover {
        border-bottom: 0;
    }

    .left>li:hover>ol {
        display: flex;
    }
}

.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.right {
    display: flex;
    margin-right: 38px;
    align-items: center;
}

.select {
    display: none;
    /* display: flex; */
    flex-direction: column;
    background-color: #FFFDFD;
    position: absolute;
    top: 80px;
    left: 0;
    width: 150px;

}

.select li {}

.select li a {
    line-height: 50px;
    display: block;
    padding: 0;

}

@media screen and (min-width: 1200px) {
    .select li a:hover {

        background-color: #ccc
    }
}

.right li {}


.right li a {
    padding: 0 20px;
}

.right li:last-child a {
    position: relative;
}

.right i {
    display: block;
    font-size: 25px;
}

.right p {
    position: absolute;
    border-radius: 50%;
    background-color: #ffe2ec;
    height: 24px;
    width: 24px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    right: -20px;
    top: 5px;
    font-size: 0;
    display: none;
}

.right p span {
    font-size: 12px;
    color: #502D0A;
    text-align: center;
    letter-spacing: 0;
}

.white>li>a {
    color: #FFFDFD;
}

@media screen and (min-width: 1200px) {
    .white>li>a:hover {
        color: #E8A7BF;
    }
}

.green-bg {
    background-color: #43AAC1;
}

.pink-bg {
    background-color: #E8A7BF;
}


/* --------------------428-------------------------- */

@media screen and (max-width: 428px) {
    header {
        padding: 0 20px;
        height: 52px;
    }

    .right li:first-child {
        /* display: none; */
        transition: all .5s;
        position: fixed;
        left: -250px;
        top: 52px;
        padding: 20px 30px;
        background-color: #43AAC1;
        opacity: 0;
        z-index: 999;
    }

    .pink-bg .right li:first-child {
        background-color: #E8A7BF;
    }

    .pink .right li:first-child {
        background-color: #E8A7BF;
    }

    .right>li:first-child>a {
        background-color: #FFFDFD;
        color: #43AAC1;
        width: 190px;
        height: 40px;
        display: block;
        line-height: 40px;
        text-align: center;
        border-radius: 5px;
    }

    .pink-bg .right>li:first-child>a {
        color: #502D0A;
    }

    .pink .right>li:first-child>a {
        color: #502D0A;
    }

    .bar {
        display: inline-block;
    }

    .bar-pink i {
        color: #502D0A;
    }

    .pink .bar i {
        color: #502D0A;
    }

    .right {
        margin-right: 0;

    }

    .right i {
        font-size: 22px;
    }

    nav {
        /* display: none; */
        transition: all .5s;
        border-top: 1px solid #fffdfd67;
        position: fixed;
        left: -250px;
        top: 132px;
        z-index: 6;
        background-color: #43AAC1;
        opacity: 0;
    }

    .pink-bg nav {
        background-color: #E8A7BF;
        border-top: 1px solid #502d0a67;
        color: #502D0A;
    }

    .pink nav {
        background-color: #E8A7BF;
        border-top: 1px solid #502d0a67;
    }

    .pink .right>li:first-child {
        background-color: #E8A7BF;
    }

    .select {
        width: 250px;
        top: 56px;
    }

    .select li a {
        line-height: 3.5;
    }

    .left {
        padding: 20px 0;
        flex-direction: column;
        margin: 0 auto;
    }

    .left>li>a {
        line-height: 3.5;
        width: 250px;
        color: #FFFDFD;
    }

    .pink-bg .left>li>a,
    .pink .left>li>a {
        color: #502D0A;
    }

    .menu-bg {
        z-index: -1;
        position: fixed;
        left: 0;
        top: 52px;
        width: 100%;
        height: 100%;
        background-color: rgba(32, 32, 32, 0.817);
        transition: all .5s;
        opacity: 0;
    }

    .right li:first-child.js-open,
    nav.js-open,
    .footer-right ol>.social.js-open,
    .menu-bg.js-open {
        opacity: 1;
        left: 0px;
    }

    .left>li:first-child {
        height: 56px;
        transition: all .5s;
    }

    .left>li:first-child.-open {
        height: 168px;
    }

    .footer-right ol>.social {
        transition: all .5s;
    }

    .footer-right ol>.social.-open {
        top: 564px;
    }

    .right p{
        top: 8;
    }

}