@import url(reset.css);
@import url(header.css);
@import url(footer.css);

body {
    background-color: #43AAC1;
}

/* ---------------------log-in--------------------- */
.block {
    background-color: #43AAC1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
}

.log-in {
    background-color: #FFFDFD;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.middle {
    padding: 55px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.middle h1 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 55px;
}

.log-text {
    display: flex;
    flex-direction: column;
    align-items: left;
}

label[for="log-in"] {
    margin-bottom: 15px;
}

.middle input {
    width: 495px;
    height: 42px;
    outline: none;
    background-color: #F2F2F2;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-family: 'Noto Sans TC';
    color: #502D0A;
}

#log-in {
    margin-bottom: 40px;
}

label[for="password"] {
    margin-bottom: 15px;
}

#password {
    margin-bottom: 15px;
}

.another {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.another h2 {
    border-bottom: 1px solid #502D0A;
    line-height: 1.6;
}

@media screen and (min-width: 1200px) {
    .another h2:hover {
        border-bottom: 1px solid #E8A7BF;
        color: #E8A7BF;
    }
}

.log-in input[type="submit"] {
    cursor: pointer;
    background-color: #43AAC1;
    color: #FFFDFD;
    width: 275px;
    height: 50px;
    border-radius: 0;
    border-radius: 5px;
    font-size: 16px;
}

@media screen and (min-width: 1200px) {
    .log-in input[type="submit"]:hover {
        background-color: #E8A7BF;
        color: #502D0A;
    }
}

@media screen and (max-width: 428px) {
    .block {
        padding-top: 80px;
        padding-bottom: 100px;

    }

    .middle {
        padding: 20px 0;
        width: 90vw;
    }

    .middle h1 {
        font-size: 26px;
        margin-bottom: 30px;
    }

    .log-text {
        width: 75vw;
    }

    .middle input {
        width: 100%;
    }

    #log-in {
        margin-bottom: 20px;
    }

    #password {
        margin-bottom: 5px;
    }

    .another {
        margin-bottom: 40px;
    }

    .log-in input[type="submit"] {
        width: 75vw;
        margin-bottom: 10px;
    }


}