body{
    background-color: #E8A7BF;
    
}

/* -------------------news-------------------- */
.news{
    background-color: #E8A7BF;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100%;
    
}

.news h1{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 55px;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    background-image: url(../img/banners/banner2-3.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    color: #FFFDFD;
}

.news ul{}

.news li{
    border-top: 1px solid #502D0A;
    padding-left: 67px;
}

/* --------------------428-------------------------- */

@media screen and (max-width: 428px){
    .news{
        padding-top: 52px;
        padding-bottom: 100px;
    }

    .news h1{
        padding-bottom: 40px;
        padding-top: 40px;
        margin-bottom: 20px;
        font-size: 30px;
    }

    .news li{
        padding: 0 20px;
    }

    .news li a{
        padding: 15px 0;
        line-height: 30px;
        flex-direction: column;
    }

    .news p{
        margin-right: 20px;
    }
}