body{
    background-color: #43AAC1;
}

/* ---------------------main---------------------- */
.bg-word{
    background-image: url(../img/background/Donutworry_pink.png);
    background-repeat: no-repeat;
    background-position: left 30px bottom 0;
}

.overflow{
    overflow: hidden;
    width: 100%;
    height: auto;
}

.main{
    padding-top: 200px;
    display: flex;
    justify-content: center;
    
}

.picture{
    width: 50%;
}

.container{
    margin: 0 auto;
    width: 550px;
    height: 550px;
    overflow: hidden;
    background-color: #FFFDFD;
}

.container img{
    width: 100%;
}

.detail{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.block{
    text-align: left;
}

.detail h1{
    color: #FFFDFD;
    font-size: 34px;
    margin-bottom: 30px;
}

.detail p{
    font-size: 24px;
    color: #FFFDFD;
    margin-bottom: 30px;
}

.detail ul{
    display: flex;
}

.detail li{
    color: #FFFDFD;
}

.detail i{
    cursor: pointer;
}

.detail i:hover{
    color: #E8A7BF;
}

.num{
    padding: 0 20px;
}

.detail button{
    display: block;
    margin: 30px 0px;
    background-color: #FFFDFD;
    color: #43AAC1;
    border: 0;
    width: 250px;
    height: 40px;
}

.detail button:hover{
    color: #502D0A;
    background-color: #E8A7BF;
}

.detail table{
    color: #FFFDFD;
    width: 250px;
}

.detail thead{
    border-bottom: 1px solid #FFFDFD;
}

.detail thead tr{}

.detail thead td{
    padding: 10px 0;
    text-align: center;
}

.detail tbody tr{}

.detail tbody td{
    padding: 8px 5px;

}

.text-right{
    text-align: right;
}

.detail tbody .sub{
    padding-left: 20px;
}

.text{
    margin: 10px 0 10px;
    padding-left: 113px;
}

.text p{
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}


/* ----------------section------------------ */


section{
    padding-top: 200px;
    padding-left: 25px;
}

.sub-title{
    display: flex;
}

.sub-title p{
    color: #FFFDFD;
    margin-bottom: 40px;
}

.sub-title img{
    display: block;
    height: 16px;
    margin-left: 80px;
    cursor: pointer;
    padding: 0 25px;
}

.sub-title p + img{
    transform: rotate(180deg);
    
}

.sub-title img + img{
    margin-left: 0;
}

section ul{
    display: flex;
    flex-shrink: none;
    margin-bottom: 50px;
    cursor: grab;
}

section li{
    margin-right: 15px;
}

section li:hover .bg{
    background-color: #E8A7BF;
}

section li:hover h2,section li:hover p{
    color: #E8A7BF;
}

section a{}

.bg{
    width: 400px;
    height: 250px;
    background-color: #FFFDFD;
}

.picture-list{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
}


.picture-list img{
    width: 100%;
}

section h2{
    margin-top: 30px;
    color: #FFFDFD;
    margin-bottom: 5px;
}

section h2 + p{
    color: #FFFDFD;
}
