@import url(reset.css);
@import url(header.css);
@import url(footer.css);

body {
    background-color: #43AAC1;
}

.wrapper {
    /* outline: 5px solid red; */
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* ---------------------main---------------------- */
.bg-word {
    background-image: url(../img/background/Donutworry_pink.png);
    background-repeat: no-repeat;
    background-position: left 30px bottom 0;
}

.overflow {
    overflow: hidden;
    width: 100%;
    height: auto;
}

.main {
    padding-top: 200px;
    display: flex;
    justify-content: center;

}

.picture {
    width: 50%;
}

.container {
    margin: 0 auto;
    width: 550px;
    height: 550px;
    overflow: hidden;
    background-color: #FFFDFD;
    border-radius: 5px;
}

.container img {
    width: 100%;
}

.detail {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.block {
    text-align: left;
}

.detail h1 {
    color: #FFFDFD;
    font-size: 34px;
    margin-bottom: 30px;
}

.detail p {
    font-size: 24px;
    color: #FFFDFD;
    margin-bottom: 30px;
}

.detail ul {
    display: flex;
}

.detail li {
    color: #FFFDFD;
}

.detail i {
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    .detail i:hover {
        color: #E8A7BF;
    }
}

.num {
    padding: 0 20px;
}

.detail button {
    display: block;
    margin: 30px 0px;
    background-color: #FFFDFD;
    color: #43AAC1;
    border: 0;
    width: 274px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
}

@media screen and (min-width: 1200px) {
    .detail button:hover {
        color: #502D0A;
        background-color: #E8A7BF;
    }
}

.detail table {
    color: #FFFDFD;
    width: 274px;
}

.detail thead {
    border-bottom: 1px solid #FFFDFD;
}

.detail thead tr {}

.detail thead td {
    padding: 10px 0;
    text-align: center;
}

.detail tbody tr {}

.detail tbody td {
    padding: 8px 15px;

}

.text-right {
    text-align: right;
}

.detail tbody .sub {
    padding-left: 40px;
}

.text {
    margin: 10px 0 10px;
    padding-left: 165px;
}

.text p {
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}


/* ----------------section------------------ */


section {
    padding-top: 200px;
    padding-left: 25px;
}

.sub-title {
    display: flex;
}

.sub-title p {
    color: #FFFDFD;
    margin-bottom: 40px;
}

.next img {
    display: block;
    height: 16px;
    cursor: pointer;
    padding: 0 25px;
}

.next {
    display: flex;
    margin-left: 170px;
}

.next img:first-child {
    transform: rotate(180deg);

}

.next img:last-child {
    margin-left: 0;
}

section ul {
    display: flex;
    margin-bottom: 50px;
    transform: translate(0px);
}

section li {
    margin-right: 15px;
    flex-shrink: 0;
}

@media screen and (min-width: 1200px) {
    section li:hover .bg {
        background-color: #E8A7BF;
    }

    section li:hover h2,
    section li:hover p {
        color: #E8A7BF;
    }
}

section a {}

.bg {
    width: 400px;
    height: 250px;
    background-color: #FFFDFD;
    border-radius: 5px;
}

.picture-list {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
}


.picture-list img {
    width: 100%;
}

section h2 {
    margin-top: 30px;
    color: #FFFDFD;
    margin-bottom: 5px;
}

section h2+p {
    color: #FFFDFD;
}


/* --------------------428-------------------------- */

@media screen and (max-width: 428px) {
    .wrapper {
        width: 90vw;
    }

    .picture {
        width: 100%;
    }

    .bg-word {
        background-image: none;
    }

    .main {
        padding-top: 100px;
        flex-direction: column;
    }

    .container {
        width: 80vw;
        height: 80vw;
    }

    .detail {
        width: 100%;
        margin-top: 30px;
        padding: 0 20px;
    }

    .detail h1 {
        margin-bottom: 20px;
    }

    .detail p {
        margin-bottom: 20px;
    }

    .detail button {
        width: 75vw;
        font-size: 16px;
        margin: 30px auto;
    }

    .detail table {
        align-self: center;
    }



    .text {
        width: 100%;
        padding: 0;
    }

    section {
        padding-top: 150px;
        padding-left: 0;
    }

    .bg {
        width: 70vw;
        height: 50vw;
    }

    .picture-list {
        width: 50vw;
        height: 50vw;
    }

    .sub-title {
        justify-content: space-between;
    }

    .next img {
        padding: 0 15px;
    }

    .next {
        margin: 0;
    }
}