@import url(reset.css);
@import url(header.css);
@import url(footer.css);

body {
    background-color: #43AAC1;
}

.wrapper {
    /* outline: 5px solid red; */
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.bg-words {
    background-color: #43AAC1;
    background-image: url(../img/background/Donutworry_pink.png),
        url(../img/background/Donutworry_pink.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right 30px top,
        left 30px bottom;
}

.container {
    padding-top: 200px;
    padding-bottom: 100px;
}

.container h1 {
    color: #FFFDFD;
    text-align: center;
    font-size: 38px;
    padding-bottom: 100px;
}

#product-list {
    appearance: none;
    background-color: initial;
    color: #FFFDFD;
    margin-left: 73px;
    width: 300px;
    height: 40px;
    outline: none;
    border: 0;
    border-bottom: 1px solid #FFFDFD;
    padding: 0 20px;
    background-image: url(../img/input/select_arrow_white.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
}

#product-list option {
    background-color: #43AAC1;
}

.container ul {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    /* grid-template-rows: repeat(6, 400px); */
}

.container li {
    width: 100%;
    height: 100%;
}

.container li:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    width: 100%;
    height: 100%;
}

.container li:nth-child(6) .picture {
    width: 650px;
    height: 650px;
}

.container li:nth-child(6) .bg {
    width: 750px;
    height: 650px;
}


.container li:nth-child(10) {
    grid-column: 1 / 3;
    grid-row: 5 / 7;
    width: 100%;
    height: 100%;
}

.container li:nth-child(10) .picture {
    width: 650px;
    height: 650px;
}

.container li:nth-child(10) .bg {
    width: 750px;
    height: 650px;
}

.container a {}

@media screen and (min-width: 1200px) {

    .container a:hover h2,
    .container a:hover p {
        color: #E8A7BF;
    }

    .container a:hover .bg {
        background-color: #E8A7BF;
    }
}

.bg {
    border-radius: 5px;
    width: 350px;
    height: 250px;
    background-color: #FFFDFD;
    margin: 40px auto 20px;
}

.picture {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.container img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.container h2 {
    color: #FFFDFD;
    text-align: center;
    padding-bottom: 8px;
}

.container p {
    color: #FFFDFD;
    text-align: center;
    padding-bottom: 8px;
}

.next-page {
    margin: 50px auto 0;
}

.next-page ul {
    display: flex;
    justify-content: center;
}

.next-page li {}

.next-page a {
    display: block;
    width: 40px;
    line-height: 1.6;
    color: #FFFDFD;
}

@media screen and (min-width: 1200px) {
    .next-page a:hover {
        color: #E8A7BF;
    }
}

ul li .-on {
    color: #E8A7BF;
}

/* --------------------428-------------------------- */

@media screen and (max-width: 1200px) {
    .wrapper {
        width: 90vw;
    }

    .container h1 {
        padding-bottom: 50px;
        font-size: 30px;
    }

    #product-list {
        display: block;
        margin: 0 auto;
        width: calc(100% - 10px);
    }

    .bg-words {
        background-image: none;
    }

    .container {
        padding-top: 100px;
    }

    .container ul {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .bg {
        width: calc((90vw / 2) - 10px);
        height: calc((90vw / 2) - 10px);
    }

    .picture {
        width: calc((90vw / 2) - 10px);
    }

    .container li:nth-child(6) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .container li:nth-child(6) .bg {
        width: calc((90vw) - 10px);
        height: calc((90vw) - 10px);
    }

    .container li:nth-child(6) .picture {
        width: calc((90vw) - 10px);
    }

    .container li:nth-child(10) {
        grid-column: 1 / 3;
        grid-row: 6 / 7;
    }

    .container li:nth-child(10) .bg {
        width: calc((90vw) - 10px);
        height: calc((90vw) - 10px);
    }

    .container li:nth-child(10) .picture {
        width: calc((90vw) - 10px);
    }

    .next-page {
        margin-bottom: 100px;
    }

}