@import url(reset.css);
@import url(header.css);
@import url(footer.css);

body {
    background-color: #43AAC1;
}

/* ---------------------resigner--------------------- */
.block {
    background-color: #43AAC1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
}

.resigner {
    background-color: #FFFDFD;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.resigner input {
}

.middle {
    padding: 55px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.middle h1 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 55px;
}

.middle input {
    width: 495px;
    height: 42px;
    outline: none;
    background-color: #F2F2F2;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-family: 'Noto Sans TC';
    color: #502D0A;
}

.log-text {
    display: flex;
    flex-direction: column;
}

.log-text label {
    margin-bottom: 15px;
    margin-top: 35px;
}

.inline {
    display: flex;
    justify-content: space-between;
}

.log-text .inline #phone {
    width: 79%;
}

.phone {
    width: 20%;
    height: 42px;
    border: 0;
    border-radius: 5px;
    color: #502D0A;
    cursor: pointer;
    background-color: #F2F2F2;
}

.phone:active,
.CAPTCHA:active {
    box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.1);
}

#CAPTCHA {
    width: 84%;
}

.CAPTCHA {
    width: 15%;
    height: 42px;
    border: 0;
    border-radius: 5px;
    color: #502D0A;
    cursor: pointer;
    background-color: #F2F2F2;
}

#birthday {}

.resigner p {
    display: none;
    color: #FF4252;
    margin-top: 5px;
}

.resigner p.-alert{
    display: block;
}

.resigner input[type="submit"] {
    cursor: pointer;
    background-color: #43AAC1;
    color: #FFFDFD;
    width: 275px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 0;
    margin-top: 50px;

}

#name.-error,
#email.-error,
#phone.-error,
#CAPTCHA.-error,
#birthday.-error,
#password.-error,
#password-comfirm.-error {
    border: 1px solid rgb(247, 76, 76);
    animation: error .3s;

}

@keyframes error {
    0% {
        transform: translate(0px);
    }

    25% {
        transform: translate(-10px);
    }

    50% {
        transform: translate(10px);
    }

    75% {
        transform: translate(-10px);
    }

    100% {
        transform: translate(0px);
    }
}

@media screen and (min-width: 1200px) {
    .resigner input[type="submit"]:hover {
        background-color: #E8A7BF;
        color: #502D0A;
    }
}

/* --------------------428-------------------------- */

@media screen and (max-width: 428px) {
    .block {
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .middle {
        padding: 20px 0;
        width: calc(100vw - 40px);
    }

    .middle h1 {
        font-size: 26px;
        margin-bottom: 30px;
    }

    .middle input {
        width: 100%;
    }

    .log-text {
        width: 75vw;
    }

    .log-text .inline #phone {
        width: calc(100% - 105px);
    }

    .phone {
        width: 100px;
    }

    #CAPTCHA {
        width: calc(100% - 5px - 45px);
    }

    .CAPTCHA {
        width: 45px;
    }

    #birthday {
        margin-bottom: 10px;
        width: 75vw;
    }

    .resigner p {
        font-size: 14px;
    }

    .resigner input[type="submit"] {
        margin-bottom: 10px;
        margin-top: 30px;
        width: 75vw;
        font-size: 16px;
    }

    .log-text label{
        margin-top: 25px;
    }
}