@import url(reset.css);
@import url(header.css);
@import url(footer.css);






/* -------------------banner--------------------- */
body {
    background-color: #E8A7BF;
}

header {
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color .5s;
}

/* .anima{
    transition: all .5s;
} */


.banner {
    display: flex;
    height: 900px;
    background-color: #E8A7BF;
    position: relative;
}

.left-block {
    width: 50%;

}

.banner-title {
    position: absolute;
    left: 70px;
    bottom: 300px;
    width: 1040px;
}

.banner-title h1 {
    color: #FFFDFD;
    font-size: 100px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.banner-title img+h1 {
    margin-left: 10px;
}

.banner-title h1+h1 {
    margin-left: 140px;
}

.right-block {
    width: 50%;
    overflow: hidden;
    max-height: 900px;
    position: relative;
}

.mySlides img {
    vertical-align: middle;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* display: none; */
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
    
}

@keyframes fade {
    from {
        opacity: .4;
        transform: scale(120%);
    }

    to {
        opacity: 1;
        transform: scale(100%);
    }
}

.dot_container {
    position: absolute;
    right: 50px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dot {
    height: 20px;
    width: 20px;
    margin: 15px 0;
    background-color: #FFFDFD;
    border-radius: 50%;
    display: block;
    transition: background-color 0.6s ease;
    /* display: inline-block; */
    cursor: pointer;
}

span.-active {
    background-color: inherit;
    border: 5px solid #FFFDFD;
}

/* -------------------section1--------------------- */
.bg-words {
    background-color: #FFFDFD;
    background-image: url(../img/background/DonutsMake.png), url(../img/background/index-bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left top 400px, top 1530px center;
}

.wrapper {
    /* outline: 5px solid red; */
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.section {
    box-sizing: border-box;
    height: 900px;
    display: flex;
    justify-content: center;
}

.polarid {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tape1 {
    position: absolute;
    z-index: 3;
    right: 90px;
    top: 110px;
    transform: rotate(-5deg);
    width: 400px;
}

.big-bg {
    width: 600px;
    height: 635px;
    background-color: #FFFDFD;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    transform: rotate(-5deg);
}

.container-big {
    width: 90%;
    height: 90%;

}

.container-big img {
    width: 100%;
}

.img1-1 {
    position: absolute;
    right: -40px;
    top: 150px;
    z-index: 0;
}

.smail-bg {
    width: 325px;
    height: 370px;
    background-color: #FFFDFD;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.container-small {
    width: 90%;
    height: 90%;
}

.container-small img {
    width: 100%;
}

.img1-2 {
    position: absolute;
    z-index: 1;
    right: 230px;
    bottom: 80px;
    transform: rotate(10deg);
}

.title-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.title {
    position: relative;
    color: #43AAC1;
    font-size: 128px;
    font-weight: bold;
    margin-bottom: 50px;
    z-index: 2;
    width: 790px;
    text-align: right;
    display: flex;
    justify-content: end;
    overflow: hidden;

}

.text1{
    animation: words .6s;
}
.text2{
    animation: words .8s;
}
.text3{
    animation: words 1s;
}
.text4{
    animation: words 1.2s;
}
.text5{
    animation: words 1.4s;
}
.text6{
    animation: words 1.6s;
}

@keyframes words {
    0%{
        opacity: 0;
        transform: translate(0, -100%);
    }
    100%{
        opacity: 1;
        transform: translate(0, 0%);
    }
}

.text {
    color: #502D0A;
    line-height: 30px;
    width: 476px;
    text-align: justify;
}

/* -------------------section2--------------------- */
.polarid-2 {
    order: 2;

}

.tape2 {
    position: absolute;
    z-index: 3;
    left: 110px;
    top: 120px;
    transform: rotate(5deg);
    width: 400px;
}

.title-left {
    order: 1;
    align-items: flex-start;
}

.img2-1 {
    position: absolute;
    left: -30px;
    bottom: 90px;
    z-index: 0;
    transform: rotate(5deg);
}

.img2-2 {
    position: absolute;
    left: -70px;
    bottom: 80px;
    z-index: 0;
    transform: rotate(-10deg);
}

/* -------------------section3--------------------- */



/* -------------------about us--------------------- */
.about {
    background-image: url(../img/banners/banner2.jpg);
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}

.about h1 {
    font-weight: bold;
    color: #FFFDFD;
    font-size: 200px;
    padding-top: 170px;
    padding-bottom: 50px;
}

.about span {
    background-color: #FFFDFD;
    display: block;
    height: 1px;
    width: 920px;
    margin: 0 auto;
}

.about p {
    color: #FFFDFD;
    width: 842px;
    margin: 60px auto 95px;
    line-height: 30px;
}

.about a {
    display: block;
    width: 274px;
    height: 50px;
    color: inherit;
    background-color: #FFFDFD;
    line-height: 50px;
    margin: 0 auto;
    font-size: 16px;
    border-radius: 5px;
}

@media screen and (min-width: 1200px) {

    .about a:hover {
        background-color: #43AAC1;
        color: #FFFDFD;
    }
}

/* -------------------info--------------------- */
.info {
    background-color: #FFFDFD;
    height: 100px;
    overflow: hidden;
    border-bottom: 1px solid #502D0A;
    position: relative;
}

.info a {
    display: block;
    line-height: 100px;
}

.info1 {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;


}

@media screen and (min-width: 1200px) {
    .info1 {
        animation: info 20s linear infinite;
    }
}

@keyframes info {
    0% {
        transform: translate(0%);
    }

    100% {
        transform: translate(-50%);
    }
}

@media screen and (min-width: 1200px) {

    .info a:hover i,
    .info a:hover h1 {
        color: #E8A7BF;
    }
}

.info i {
    display: block;
    color: #502D0A;
    font-size: 30px;
    width: 50px;
    flex-shrink: 0;
}

.info h1 {
    display: block;
    font-size: 24px;
    flex-shrink: 0;
    width: 490px;
}

/* -------------------comb--------------------- */

.bg-white {
    background-color: #FFFDFD;

}

.comb {
    background-color: #FFFDFD;
    background-image: url(../img/products/comb_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    /* outline: 5px solid red; */
    margin: 0 auto;
    width: 1200px;
    height: 900px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.comb-left {
    position: absolute;
}

.comb-right {
    margin-right: 50px;
}

.comb-right h1 {
    text-align: center;
    font-size: 84px;
    font-weight: bold;
}

.line1 {
    margin-top: 25px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #502D0A;
}

.comb-img1 {
    position: relative;
    border: 8px solid #E8A7BF;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.comb-img1 img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.line1 h3 {
    font-size: 40px;
    font-weight: bold;
    padding-left: 50px;
}

.line2 {
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding-top: 20px;
    border-top: 1px solid #502D0A;
}

@media screen and (min-width: 1200px) {

    .line2:hover .comb-img2,
    .line1:hover .comb-img1 {
        border: 8px solid #43AAC1;
        background-color: #ccc;
    }
}

.comb-img2 {
    position: relative;
    border: 8px solid #E8A7BF;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.comb-img2 img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.line2 h3 {
    padding-left: 50px;
    font-size: 40px;
    font-weight: bold;
}

/* -------------------product-sub-------------------- */
.product-sub {
    height: 1710px;
    background-color: #43AAC1;
    overflow: hidden;
    background-image: url(../img/background/Donutworry_pink.png), url(../img/background/Donutworry_pink.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left 30px top -380px, right 30px bottom -330px;
}

.product-sub h1 {
    font-size: 38px;
    color: #FFFDFD;
    text-align: center;
    padding-top: 132px;
    padding-bottom: 150px;
}

.photo {
    margin: 0 auto;
    width: 1100px;
    height: 540px;
    background-color: #FFFDFD;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tape {
    position: absolute;
    top: -50px;
    left: 300px;
}

.big-picture {
    margin-left: 50px;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.big-picture img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.photo-text {
    margin: 50px;
    width: 536px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.photo-text h2 {
    font-size: 64px;
    padding-bottom: 70px;
}

.photo-text p {
    width: 500px;
    font-size: 22px;
    line-height: 30px;
    text-align: justify;
}

.product-sub ul {
    display: flex;
    margin-top: 120px;
}

.product-sub li {
    width: calc(100% / 3);
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    .product-sub li:hover .list::after {
        background-color: #E8A7BF;
    }

    .product-sub li:hover .product-text h3,
    .product-sub li:hover .product-text p {
        color: #E8A7BF;
    }
}

.product-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

.product-text h3 {
    color: #FFFDFD;
    padding-bottom: 8px;
}

.product-text p {
    color: #FFFDFD;
}

.list {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;

}

.list::after {
    z-index: 0;
    position: absolute;
    right: 0;
    top: 50px;
    display: block;
    content: "";
    background-color: #FFFDFD;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.list img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.product-sub a {
    background-color: #FFFDFD;
    color: #43AAC1;
    display: block;
    width: 274px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
    margin-top: 110px;
    border-radius: 5px;
    font-size: 16px;
}

@media screen and (min-width: 1200px) {

    .product-sub a:hover {
        background-color: #E8A7BF;
        color: #502D0A;
    }
}

/* -------------------news-------------------- */
.news {
    background-color: #FFFDFD;
    height: 600px;
}

.news h1 {
    padding-top: 55px;
    padding-bottom: 63px;
    font-size: 38px;
    text-align: center;
}

.news ul {}

.news li {
    border-top: 1px solid #502D0A;
    padding-left: 67px;
}

.news li:last-child {
    border-bottom: 1px solid #502D0A;
}

.news li a {
    display: flex;
    line-height: 110px;
}

.news p {
    width: 100px;
    margin-right: 65px;
}

.news h2 {}

.more {
    display: flex;
    margin-top: 45px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.more a {
    border-bottom: 1px solid #502D0A;
    line-height: 1.6;
}

@media screen and (min-width: 1200px) {

    .more a:hover {
        border-bottom: 1px solid #43AAC1;
    }
}

/* -------------------shop-------------------- */
.shop {
    display: flex;
    height: 1885px;
}

.shop-head {
    width: 35%;
    background-color: #E8A7BF;
    background-image: url(../img/background/Donutworry_green.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.shop-body {
    background-color: #FFFDFD;
    width: 65%;
}

.shop-body>ul {
    margin-top: 190px;
    margin-left: 400px;
    margin-right: 50px;
}

.shop-body>ul>li {
    display: flex;
    position: relative;
    height: calc((1885px - 190px) / 3);

}

.shop-img {
    position: absolute;
    top: 0px;
    left: -571px;
    bottom: 0;
    margin: auto;
}

.open {
    content: "New Open";
    position: absolute;
    top: -80px;
    right: -70px;

    background-color: #43AAC1;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    transform: scale(0%);
}

.open.-big{
    transform: scale(100%);
}

.open p {
    color: #FFFDFD;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.3;
}


.shop-img img {
    width: 100%;
}

.shop-text {
    flex-grow: 1;
    border-top: 1px solid #502D0A;
}

.shop-text li {
    display: flex;
    padding-bottom: 25px;
}

.shop-text li:first-child {
    padding-bottom: 40px;
}

.shop-text iframe {
    width: 350px;
    height: 250px;
}

.shop-text h1 {
    padding-top: 47px;
    font-size: 40px;
}

.shop-text i {
    font-size: 20px;
    margin-right: 26px;
}

.shop-text p {}

/* --------------------428px------------------------- */

@media screen and (max-width: 428px) {
    .index-pink .left {
        background-color: #E8A7BF;
        color: #502D0A;
        border-top: 1px solid #502d0a67;
    }

    header .right .index-pink {
        background-color: #E8A7BF;
    }

    header .right .index-pink a {
        color: #502D0A;
    }

    .wrapper {
        width: 90vw;
    }

    .banner {
        flex-direction: column;
        height: 50vh;
    }

    .mySlides img{
        height: 50vh;
        width: 100vw;
    }

    .left-block {
        /* order: 2; */
        /* width: 100vw;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center; */
        display: none;
    }

    .dot_container{
        right: 30px;
    }

    .dot{
        height: 10px;
        width: 10px;

    }

    span.-active{
        border: 2px solid #FFFDFD;
    }

    .right-block {
        /* order: 1; */
        width: 100vw;
        height: 50vh;

    }

    .left>li>a {
        color: #502D0A;
    }



    .banner-title {
        /* width: 320px;
        position: relative;
        left: 0;

        bottom: 0;
        height: auto; */
        display: none;
    }

    .info1 {
        animation: info 25s linear infinite;
    }

    .bg-words {
        background-image: none;
        padding-bottom: 100px;
    }

    .section {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .polarid {
        margin-top: 70px;
        width: 300px;
        height: 350px;
        /* outline: 1px solid red; */
    }

    .polarid-2 {
        order: 1;
    }

    .title-right {
        width: 100%;
    }

    .title-left {
        order: 2;
        width: 100vw;
        align-items: center;
    }

    .title {
        font-size: 30px;
        width: 90vw;
        margin-bottom: 30px;
        text-align: left;
        justify-content: start;
    }

    .text {
        width: 90vw;
    }

    .tape1 {
        width: 180px;
        top: 30px;
        right: 60px;
    }

    .tape2 {
        width: 180px;
        left: 80px;
        top: 20px;
    }

    .img1-1 {
        right: 20px;
        top: 50px;

    }

    .img1-2 {
        left: 20px;
        right: 0;
        bottom: 0px;
        top: 160px;
    }

    .img2-1 {
        left: 40px;
        bottom: 50px;
    }

    .img2-2 {
        left: 20px;
        right: 0;
        bottom: 0px;
        top: 160px;
    }

    .big-bg {
        width: 240px;
        height: 254px;
    }

    .smail-bg {
        width: 130px;
        height: 148px;
    }

    .about {
        height: 570px;
    }

    .about h1 {
        font-size: 50px;
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .about span {
        width: 90vw;
    }

    .about p {
        width: 90vw;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .about a {
        width: 75vw;
    }

    .info {
        height: 50px;
    }

    .info a {
        line-height: 50px;
    }

    .info i {
        width: 25px;
        font-size: 16px;
    }

    .info h1 {
        font-size: 16px;
    }

    .comb {
        background-image: none;
        width: 100vw;
        height: 450px;
        justify-content: center;
    }

    .comb-right {
        margin-right: 0;
    }

    .comb-right h1 {
        font-size: 40px;

    }

    .comb-img1,
    .comb-img2 {
        border: 0;
        width: 100px;
        height: 100px;
    }

    .line1 h3,
    .line2 h3 {
        font-size: 30px;
        padding-left: 10px;
        padding-right: 30px;
    }

    .product-sub {
        background-image: none;
        height: 1300px;
    }

    .product-sub h1 {
        font-size: 30px;
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .photo {
        width: 90vw;
        flex-direction: column;
        height: 608px;
        align-items: center;

    }

    .big-picture {
        width: 100%;
        margin-left: 0;
        height: 50%;
    }

    .big-picture img {
        padding-top: 20px;
        height: 100%;
        display: block;
        object-fit: contain;
        margin: 0 auto;
    }

    .tape {
        width: 200px;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
    }

    .photo-text h2 {
        font-size: 28px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .photo-text {
        width: 90%;
        margin: 0;
        min-height: 330px;
        display: block;
    }

    .photo-text p {
        width: 100%;
        font-size: 16px;
        padding-bottom: 20px;
    }

    .product-sub ul {
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .product-sub li {
        width: 50%;
        margin-bottom: 20px;
    }

    .list {
        width: 80px;
        height: 80px;
    }

    .list::after {
        width: 60px;
        height: 60px;
        top: 20px;
    }

    .product-text {
        margin-top: 20px;
    }

    .product-sub a {
        margin-top: 30px;
        width: 75vw;
    }

    .news {
        height: 450px;
    }

    .news h1 {
        font-size: 30px;
        padding-bottom: 30px;
    }

    .news li {
        padding: 0 20px;
    }

    .news li a {
        padding: 15px 0;
        line-height: 30px;
        flex-direction: column;
    }

    .shop {
        height: auto;
    }

    .shop-head {

        width: 0;
    }

    .shop-body {
        width: 100vw;
        height: auto;
    }

    .shop-body>ul {
        margin-top: 100px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .shop-body>ul>li {
        height: auto;
        flex-direction: column;
    }

    .shop-img {
        width: 100vw;
        bottom: auto;
        left: 0;
        position: relative;
    }

    .shop-text h1 {
        padding-top: 20px;
        font-size: 30px;
    }

    .shop-text li:first-child {
        padding-bottom: 30px;
    }

    .shop-text li {
        padding-bottom: 20px;
    }

    .open {
        top: 75%;
        right: 20px;
        background-color: #E8A7BF;
        width: 100px;
        height: 100px;
    }

    .open p {
        font-size: 16px;
        color: #502D0A;
    }

    .shop-text {
        margin: 20px 20px 100px 20px;
        width: calc(100vw - 40px);

    }

    .shop-text iframe {
        width: 100%;
    }
}